@media (max-width: 1025px) {
    /* header */
    header {
        padding-inline:  32px;
    }
     /* section2 */
     .section_second{
        padding: 32px 32px;
        flex-direction: column;
        row-gap: 40px;
        height: 704px;

    }
    .photo_section_second{
        width: 100%;
        height: 480px;
    }
    .section_second_box{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
.section_second_title{
    width: 440px;
}
.section_second_text{
    width: 440px;
}


}
@media (max-width: 875px) {
    /* header */
    header {
        margin-inline: 32px;
    }

    /* section1 */
    .section_first {
        padding-inline: 85px;
    }

    .asection_first_title {
        font-size: 36px;
        line-height: 44px;
    }

   

}
